*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif ;
}
.container{
    width: 100%;
    height: 100vh;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(9,9,121,1) 1%, rgba(0,5,255,1) 29%, rgba(0,181,255,1) 53%, rgba(0,172,249,1) 81%, rgba(0,255,243,1) 94%);
    padding: 10px;
    opacity: 0.9;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-left:10% ;
    margin-top:13% ;
}
.calculator h1{
    font-size: 50px;
    font-weight: 900;
}
.calculator h1 span{
    color: rgb(221, 255, 0);
    font-size: 60px;
}
.inputbox{
    margin: 40px 0;
    padding:15px;
    border-radius: 35px;
    background-color: rgba(186, 189, 189, 0.367);
    display: flex;
    align-items: center;
}
.inputbox input{
    flex: 1;
    border-radius: 20px;
    margin-right: 20px;
    padding: 20px 10px;
    border:0;
    outline: 0;
    font-size:20px ;
    height:25px;
    /* width: 10px; */
    position: relative;
    /* cursor: pointer; */
}
.inputbox button{
    background-color: rgb(210, 242, 0);
    border-radius: 25px;
    outline: 0;
    padding:10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
}
.inputbox input::-webkit-calender-picker-indicator{
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    width: auto;
    position: absolute;
    background-repeat: calc(100%-10px);
    background-size: 30px;
    cursor: pointer;
}
#result{
    font-size: 30px;
}
#result span{
    font-size: 45px;
    color: rgb(246, 255, 0);
    
    font-weight: 900;
}